//se declaran como variables algunos estilos más utilizados.
$fuente-principal: 'Montserrat', sans-serif;
$color-fondo:  #ffffff;
$color-texto: #111;
$padding-general: 1rem;
$borde-radio: 5px;
$color-link: #333;
$font-size: 20px;
$color-bloques: #e7e5e5;
