main div, footer, header {
  background-color: #e7e5e5;
  border-radius: 5px;
  padding: 1rem;
}

header {
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
}
header .navbar {
  padding: 1rem 2rem;
}
header .navbar-brand img {
  max-height: 100px;
}
header .navbar-nav .nav-link {
  color: #333;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
header .navbar-nav .nav-link:hover {
  background-color: #adabab;
}

footer {
  text-align: center;
}
footer img {
  max-height: 20px;
  vertical-align: middle;
  margin: 0 5px;
}
footer a {
  color: #111;
  font-weight: 600;
  margin: 0 5px;
}

.servicios-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.servicios-grid .servicios {
  text-align: center;
}
.servicios-grid .servicios img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.grid-carruseles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: start;
}
.grid-carruseles .carousel {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.grid-carruseles .carousel img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  object-fit: cover;
}
.grid-carruseles .carousel-control-prev, .grid-carruseles .carousel-control-next {
  height: 370px;
  filter: invert(1);
}
.grid-carruseles .descripcion-carousel {
  text-align: center;
  line-height: 1.4;
}
.grid-carruseles .descripcion-carousel h5 {
  font-size: 1.5rem;
  margin: 0 0 0.2rem;
}
.grid-carruseles .descripcion-carousel p {
  font-size: 20px;
  color: #111;
}

.form-contacto-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 2rem;
  width: 90vw;
}
.form-contacto-container .columnaIzq {
  flex: 1 1 50%;
}
.form-contacto-container .columnaIzq form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-contacto-container .columnaIzq input, .form-contacto-container .columnaIzq textarea {
  padding: 1rem;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
.form-contacto-container .columnaIzq button[type=submit] {
  background-color: #2759c5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}
.form-contacto-container .columnaDer {
  flex: 1 1 50%;
}
.form-contacto-container .columnaDer .info-contacto {
  margin-top: 1rem;
}
.form-contacto-container .columnaDer img {
  width: 20px;
  margin-right: 8px;
}
.form-contacto-container .columnaDer p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.form-contacto-container .columnaDer .mapa iframe {
  width: 100%;
  height: 355px;
  border: 0;
  display: block;
}

@media (max-width: 425px) {
  .servicios-grid, .grid-carruseles {
    grid-template-columns: 1fr;
  }
  .carousel img {
    height: 220px;
  }
  .form-contacto-container {
    flex-direction: column;
  }
  .columnaIzq, .columnaDer {
    flex: 1 1 100%;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  color: #111;
  line-height: 1.6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 0;
  flex: 1;
  font-size: 20px;
  text-align: justify;
}
main h1 {
  color: #111;
  margin: 1rem 0;
  text-align: left;
}

/*# sourceMappingURL=styles.css.map */
